<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Library\Logs\LibraryApi\nlog-own.log"
      throwConfigExceptions="true">

  <!-- the targets to write to -->
  <targets>



    <target name="ErrorFile" xsi:type="File" fileName="C:\Library\Logs\LibraryApi\Errors-${shortdate}.log" />
    <!--<target name="db"
            xsi:type="Database"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>Server=(localdb)\\mssqllocaldb;Database=LibraryDb;Trusted_Connection=True;MultipleActiveResultSets=true</connectionString>
      <commandText>
        insert into dbo.LIBRARY_API_LOG (
        MachineName, Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @MachineName, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>-->

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <logger name="*" minlevel="Trace" writeTo="ErrorFile" />
    <!--<logger name="*" minlevel="Trace" writeTo="db" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->

    <!-- BlackHole without writeTo -->


  </rules>
</nlog>